<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="EmailFrom" value="tella.adesina@fcmb.com"/>
    <add key="DisplayName" value="FCMB"/>
    <add key="MailSubject" value="Notification Fulfilment"/>
    <add key="EmailTo" value="tella.adesina@fcmb.com, telladesina100@gmail.com"/>
    <add key="SMTPURLLive" value="http://172.27.12.123/UserManagerService/UserUtilityService.asmx"/>
    <add key="SMTPURLTest" value="http://172.27.15.103/UserManagerServiceTest/UserUtilityService.asmx"/>
    <add key="EmailServer" value="172.27.15.18"/>
    <add key="EmailRecepient" value="tella.adesina@fcmb.com, bamikole.oyewole@fcmb.com, femi.akintayo@fcmb.com, moriam.isah@fcmb.com, akudo.obilor@fcmb.com, scholar.nwaiwu@fcmb.com"/>
    <add key="EmailRecepientCC" value="telladesina100@gmail.com"/>
    <add key="EmailTitle" value="FCMB"/>
    <add key="EmailBcc" value="telladesina100@gmail.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>-->
  
    <add key="ClientId" value="telladesina100@gmail.com"/>
    <add key="EmailTitle" value="FCMB"/>
    <add key="EmailBcc" value="telladesina100@gmail.com"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data source=tcp:ea-testdb.database.windows.net,1433; Initial Catalog=FCMB-AZR-MSTSTDB; user=customerdev; password=developers@123;"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>